body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9c9595;
    color: #333;
}

header {
    background-color: #940505;
    color: rgb(202, 165, 165);
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #eeeeee;
}

a {
    color: #534c4c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: rgb(240, 123, 123);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
